<div class="dialog-card__container" *ngIf="card">
  <div class="img__container">
    <img src="../../images/{{ card.id }}.jpeg" alt="card.name" />
  </div>
  <div class="card-content">
    <h4 class="card-title">{{ card.name }}</h4>
    <div class="card-genres">
      <span
        class="card-genre"
        *ngFor="let genre of card.mappedGenres; let i = index"
        ><ng-container *ngIf="card.mappedGenres"
          >{{ genre
          }}{{ i === card.mappedGenres.length - 1 ? "" : ", " }}</ng-container
        ></span
      >
    </div>
    <h6 class="card-year">{{ card.year }}</h6>
    <h6 class="card-description">{{ card.description }}</h6>
    <div class="card-btns">
      <button
        class="btn"
        mat-button
        color="{{ card.isBest ? 'primary' : 'accent' }}"
        (click)="setBestFilm()"
      >
        {{
          card.isBest ? "Удалить из лучших фильмов" : "Выбрать лучшим фильмом"
        }}
      </button>
      <button
        class="btn"
        mat-button
        color="accent"
        mat-dialog-close
        style="margin-left: 10px"
      >
        Закрыть
      </button>
    </div>
  </div>
</div>
