.films-card__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  column-gap: 10px;
  row-gap: 15px;
}
.form {
  display: flex;
  align-items: center;
  // .form-control {
  //   border: 1px solid rgba(121, 121, 121, 0.5);
  //   border-radius: 6px;
  // }
  & > *:not(:last-child) {
    margin-right: 8px;
  }
}
